if SHIELD_ALLIKECORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Allikecorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ALLIKECORNE_LEFT || SHIELD_ALLIKECORNE_RIGHT

config ZMK_SPLIT
    default y

endif
